
.container{
    padding:1%;
    text-align: center;
    display:grid;
    row-gap: 10%;
    margin-top: 7%;
    
}
.row{
    border:10px solid;
    border-radius: 2%;
}
.text1{
    margin:3%;
}
body{
    background-color: #fceed1;
}