<div class="container-fluid">
  <div class="contact-block">
    <h4>Get in Touch</h4>
    <h6>Drop me a line, give me a call, or send me a message by submitting the form</h6>
    <div class="contact-details">
      <i class="bi bi-telephone-forward fs-3"></i>
      <p>7981841338</p>
    </div>
    <div class="contact-details">
      <i class="bi bi-envelope fs-3"></i>
      <p>malothsridharvarma&#64;gmail.com</p>
    </div>
  </div>

  <div class="message-block" >
    <h4 class="mb-0">Message Me</h4>
    <div *ngIf="statusMessage" [ngStyle]="{ 'color': 'red', 'font-weight': '500' }">
      {{statusMessage}}
    </div>
    <form #contactForm="ngForm" (ngSubmit)="sendEmail(contactForm)">
      <div class="mb-2">
        <label for="name" class="form-label"><strong>Name</strong></label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          ngModel
          placeholder="Please enter your name"
          required
        />
      </div>

      <div class="mb-2">
        <label for="email" class="form-label"><strong>Email</strong></label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          ngModel
          placeholder="Please enter your email"
          required
        />
      </div>

      <div class="mb-2">
        <label for="message" class="form-label"><strong>Message</strong></label>
        <textarea
          class="form-control"
          id="message"
          name="message"
          rows="3"
          ngModel
          placeholder="Type your message here..."
          required
        ></textarea>
      </div>

      <button type="submit" class="btn btn-primary w-100">Send Message</button>
    </form>
  </div>
</div>
