<div class="container-fluid">
  <div class="contact-block">
    <h2>Get in Touch</h2>
    <h4>Drop me a line, give me a call, or send me a message by submitting the form</h4>
    <div class="contact-details">
      <i class="bi bi-telephone-forward fs-3"></i>
      <p>7981841338</p>
    </div>
    <div class="contact-details">
      <i class="bi bi-envelope fs-3"></i>
      <p>malothsridharvarma&#64;gmail.com</p>
    </div>
  </div>

  <div class="message-block">
    <h3>Message Me</h3>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        ><strong>Name</strong></label
      >
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Please enter your name"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput2" class="form-label"
        ><strong>Email</strong></label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput2"
        placeholder="Please enter your email"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        ><strong>Message</strong></label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <button type="button" class="btn btn-primary w-100">Send Message</button>
  </div>
</div>
