.container{
   text-align: center;
    display:grid;
    row-gap: 10%;
    margin-top:6%;
    margin-left: 9%;
}
.row1{
    display: grid;
}
.phone{
    margin:10%
}
body{
    background-color: #fceed1;
}
.my{
    border: 8px solid;
    
}