<div class="tech-stack-container">
  <div class="tech-card">
    <h4>Programming Languages</h4>
    <ul class="tech-list">
      <li><i class="fa-solid fa-c"></i> C</li>
      <li><i class="fas fa-code"></i> C++</li>
      <li><i class="fab fa-java"></i> Java</li>
      <li><i class="fas fa-database"></i> SQL</li>
      <li><i class="fab fa-js-square"></i> JavaScript</li>
      <li><i class="fab fa-python"></i> Python</li>
      <li><i class="fas fa-file-code"></i> TypeScript</li>
    </ul>
  </div>

  <div class="tech-card">
    <h4>Web & Styling Languages</h4>
    <ul class="tech-list">
      <li><i class="fab fa-html5"></i> HTML</li>
      <li><i class="fab fa-css3-alt"></i> CSS</li>
    </ul>
  </div>

  <div class="tech-card">
    <h4>Frameworks & Libraries</h4>
    <ul class="tech-list">
      <li><i class="fab fa-angular"></i> Angular</li>
      <li><i class="fas fa-cubes"></i> Spring Boot</li>
      <li><i class="fas fa-layer-group"></i> PrimeNG</li>
    </ul>
  </div>

  <div class="tech-card">
    <h4>Databases</h4>
    <ul class="tech-list">
      <li><i class="fas fa-database"></i> MySQL</li>
      <li><i class="fa-solid fa-server"></i> SQL Server</li>
    </ul>
  </div>

  <div class="tech-card">
    <h4>Cloud & Development Tools</h4>
    <ul class="tech-list">
      <li><i class="fab fa-git-alt"></i> Git</li>
      <li><i class="fas fa-code"></i> VS Code</li>
      <li><i class="fas fa-cloud"></i> Google Colab</li>
    </ul>
  </div>

  <div class="tech-card">
    <h4>Relevant Coursework</h4>
    <ul class="tech-list">
      <li><i class="fas fa-database"></i> DBMS</li>
      <li><i class="fas fa-project-diagram"></i> Data Structures</li>
      <li><i class="fas fa-cube"></i> OOP</li>
      <li><i class="fas fa-microchip"></i> Operating Systems</li>

      <li><i class="fas fa-brain"></i> Machine Learning</li>
    </ul>
  </div>
</div>
