.navbar {
  background-color: #43c9f7;
}
.nav-item {
  .nav-box {
    border: 0.09rem solid white;
    border-radius: 0.5rem;
    color: white;

    &.active {
      background-color: blue !important;  
    }

    .nav-box-item {
      padding: 0.5rem 0.7rem;
      color:white;
    }
    a {
      text-decoration: none;
    }
  }
}
.hire-box {
    border: 0.09rem solid white;
    border-radius: 0.5rem;
    color: white;

    &.active {
      background-color: blue !important;  
    }

    .nav-box-item {
      padding: 0.25rem 0.5rem;
      color:white;
    }
    a {
      text-decoration: none;
    }
  }