<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid px-4">
    <!-- Left side: Brand -->
    <a class="navbar-brand fw-bold text-uppercase">Maloth Sridhar Varma</a>
     <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Center: Navigation items -->
    <div class="collapse navbar-collapse justify-content-center">
      <ul class="navbar-nav gap-5">
        <li class="nav-item" *ngFor="let item of navItems; let i = index">
          <div
            class="nav-box"
            [class.active]="activeIndex === i"
            (click)="setActive(i)"
          >
            <a class="nav-box-item" [routerLink]="item.link">
              {{ item.label }}
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div
  class="hire-box get-in-touch ms-auto"
  [class.active]="activeIndex === 4"
  (click)="setActive(4)"
>
  <a class="nav-box-item" [routerLink]="'/contact'">Get In Touch</a>
</div>
  </div>
</nav>
