.container{
  display:grid;
  margin-top:8%;
}

.social_links{
  text-align: center;
  margin: 2%;
  font-size: 300%;
}
.text1{
 padding:5%;
  text-align: left;
}
.text2{
  padding:5%;
  text-align: right;
}
.social{
  margin:2%;
}
body{
  background-color: #fceed1;
}