<div class="home-component">
  <div class="left-image">
    <img
      src="/images/sridhar-photo.jpg"
      alt="Developer Illustration"
      class="img-fluid rounded"
    />
  </div>

  <div class="center-description">
    <h2 class="text-primary fw-bold mb-3">Software Developer</h2>
    <p class="text-muted fs-5">
      Passionate software engineer with expertise in building scalable web
      applications and solving complex problems using cutting-edge methods and
      technologies
    </p>
  </div>

  <div class="right-image">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrs4cQN4JwWxQaFpf-wt1YRPy5rUk6uIiyrQ&s"
      alt="Coding Illustration"
      class="img-fluid rounded"
    />
  </div>
</div>
