<div class="projects-container">
  <div class="project-card">
    <img src="/images/portfolio.png" alt="Project 1" class="project-image">
    <h4 class="project-name">Portfolio Website</h4>
    <p class="project-tech">Angular, TypeScript, Bootstrap</p>
    <a href="https://portfolio-maloth-sridhar-varmas-projects.vercel.app/" target="_blank" class="btn btn-primary view-btn">View Project</a>
  </div>

  <div class="project-card">
    <img src="/images/employee-management.png" alt="Project 2" class="project-image">
    <h4 class="project-name">Employee Management System</h4>
    <p class="project-tech">Angular , Spring Boot , SQL Server , TypeScript</p>
    <a href="https://employee-management-frontend-nfmf-4qnl4dmto.vercel.app/" target="_blank" class="btn btn-primary view-btn">View Project</a>
  </div>

  <div class="project-card">
    <img src="/images/flavor-heaven.png" alt="Project 3" class="project-image">
    <h4 class="project-name">Flavor Heaven</h4>
    <p class="project-tech">Angular , Rest APIs , TypeScript</p>
    <a href="https://flavor-heaven.vercel.app/" target="_blank" class="btn btn-primary view-btn">View Project</a>
  </div>

</div>
