.resume-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  background-color: #f8fff9;
  border-radius: 1rem;
}

.left-image {
  width: 80%;
  border: 2px solid #ddd;
  border-radius: 0.8rem;
  padding:1rem;
  
}


